html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header{
    background-color: #EAC926;
}

main{
    width: 90vw;
}

section{
    background-color: #ebebeb;
}

.titulares{
    font-size: 24px;
}

.precios{
    font-size: 18px;
}

.descuentos{
    color: #39b54a;
}

.descripciones{
    font-size: 16px;
    margin: 10px;

}

.cuotas{
    text-align: center;
}

.copyright{
    text-align: left;
}

.burger-menu{
    background-color: #1259c3;;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    max-width: 30px;
    margin: auto;
    padding: 10px;
}

.detalles, .imagen{
    border: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}


footer{
    text-align: center;

}

.fa-credit-card, .fa-gift, .fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-truck{
    color: #39b54a;
}


@media (min-width: 361px){
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

@media (min-width: 769px)